@model ExpenseTrackingSystem.Models.Account
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <form asp-action="Edit">
                        <div class="card">
                            <div class="card-header">
                                <h5>Create Account</h5>
                            </div>
                            <div class="card-body row">
                                <div class="mb-3 col-md-6">
                                    <label asp-for="Name" class="col-form-label pt-0">Name</label>
                                    <input required asp-for="Name" class="form-control" type="text" placeholder="Enter name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <a asp-action="Index">
                                    <button type="button" class="btn btn-secondary">Cancel</button>
                                </a>
                                <input readonly required asp-for="CreatedBy" class="form-control" type="hidden" value="@UserManager.GetUserId(User)">
                                <input asp-for="IsDeleted" value="0" type="hidden">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}