@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="page-header">
    <div class="header-wrapper row m-0">
        <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper">
                <a href="#">
                    <img class="img-fluid" src="~/assets/images/logo/logo.png" alt="">
                </a>
            </div>
            <div class="toggle-sidebar">
                <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
            </div>
        </div>
        @* <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
            <div class="d-flex h-100">
                <h6 class="mb-0 f-w-400"><span class="font-primary">Hi, <?= auth()->name ?>!</span></h6>
            </div>
        </div> *@
        @if (User.Identity.IsAuthenticated)
{
        <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
            <ul class="nav-menus">
                <li class="profile-nav onhover-dropdown pe-0 py-0">
                    <div class="media profile-media">
                        <img class="b-r-10" src="https://ui-avatars.com/api/?name=mhanifami&size=35&bold=true" alt="">
                        <div class=" media-body">
                                <span>@User.Identity.Name</span>
                            <p class="mb-0 font-roboto">User <i class="middle fa fa-angle-down"></i></p>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div">
                            <li><a href="@Url.Action("Logout", "Home")"><i data-feather="log-out"> </i><span>Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        }
    </div>
</div>